
body{  
    background: linear-gradient(to right,  #f7d202,#044ae2);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.Link{
  text-decoration: none;
}

.home {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  
}

.bigBox {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    flex-direction: column;
    align-items: center;
  }

.Render{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
}

.pagination {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 2%;
    margin-top: 2%;
}

.logo {
    width: 35em;
    margin-left: 5%;
}



.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    margin-right: 2%;
  }
.menu {
    background: none;
    justify-content: space-between;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
  }
  
.menu ul li {
    display: inline-block;
    background: none;
}
  
.menu ul li .buttons {
    color: #0d0d0d;
    background-color:rgba(40, 194, 241, 0.207);
    border-radius: 10px;
    display: block;
    padding: 15px 45px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    width: fit-content;
    border: none;
    cursor: pointer;
}
  
.menu ul li .buttons:hover {
    background-color: #fde9af85;
    border-radius: 10px;
}

.filtered {
    background: none;
    display: inline-flex;
    justify-content: space-around;
  }
  
  .filtered ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
  .filtered ul li {
    display: inline-block;
    padding: 0px 29px;
    
    
  }
  
  .filtered ul li select {
    color: #0d0d0d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    display: block;
    padding: 8px;
    width: auto;
    background-color:rgba(40, 194, 241, 0.207);
    border-radius: 10px;
  }
  
  .filtered ul li select:hover {
    background-color: rgba(40, 194, 241, 0.207);
    cursor: pointer;
  }
  li{
    margin-bottom: 10px;
  }
  @media screen and (max-width: 900px) {
    .menu ul li .buttons{
      display: flex;
      width: 10em;
      font-size: 16px;
    font-weight: 600;
    align-content: space-around;
    justify-content: center;
    }
  
  }
  @media screen and (max-width: 700px){
    .menu ul {
      flex-direction: column;
    }
    .menu ul li .buttons{
      display: flex;
      width: 400px;
      margin-bottom: 10px;
      
    }
    li{
      margin-bottom: 10px;
    }
  }