.BG {
    background-image: url("../Img&Gif/14729-pokemon.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  }
  .logoContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start
  }
  
  .logoLanding {
    width: 25em;
    margin-top: 30px;
  }
  .pokeBola {
    margin-top: 2em;
    margin-left: 8em;
    display: flex;
    justify-content: flex-start;
    padding: 0.75rem 1.65rem;
    width: 6em;
    max-width: 100px;
    cursor: pointer;
  }
  .hand{
    margin-bottom:  50px;
    margin-left: 8em;
    display: flex;
    justify-content: flex-start;
    width: 6em;
    transform: rotate(35deg);
    }

  
  .personalInfo{
    display:flex;
    justify-content:start;
    align-items: baseline;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-block-start: auto;
  }
   .icons {
    width: 25px;
    height: 25px;
    padding-left: 15px;
 
  }
 
  
   .byMV {
    color: #f6fa09;
    font-family: fantasy;
    letter-spacing: 3px;
    -webkit-text-stroke: 1px #4c81f3;
  }
  
  
  
  @media screen and (max-width: 500px) {
   
    .logoLanding {
      width: 15em;
      margin-top: 30px;
    }
    .pokeBola{
      margin-top: 2em;
      margin-left: 3.5em;
      width: 4em;
    }
   
    .hand{
      margin-bottom:  50px;
      margin-left: 3.5em;
      width: 4em;
    }
   
  } 

  @media screen and (max-width: 350px) {
   
    .logoLanding {
      width: 12em;
      margin-top: 30px;
    }
    .pokeBola{
      margin-top: 1em;
      margin-left: 2.2em;
      width: 4em;
    }
   
    .hand{
      margin-bottom:  50px;
      margin-left: 3em;
      width: 3em;
    }
   
  } 
  