
.CreateCointainer{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CreateCointainer::after {
    content: "";
    background: url("../Img&Gif/PikaHass.png") #f7d676;
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
.h1 {
    width: 900px;
    background-color: rgba(255, 238, 0, 0.726);
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    margin: auto;
    margin-top: 30px;
    color: #044ae2;
    padding: 10px, 0px, 10px, 0px;
  }
.divType{
  display: flex;
  margin: auto;
  
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 900px;
  background-color: rgba(37, 219, 37, 0.562)
}
  .Main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: rgba(255, 238, 0, 0.39);
    width: 900px;
    height: 30rem;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
  }
  form {
    padding-top: 5px;
    text-align: center;
  }
 li{
     color: #0c5801;
 }
  .Left {
    padding: 30px;
    margin-left: 20px;
    position: fixed;
  }
  
  .Right {
    padding: 30px;
    margin-right: 50px;
    position: fixed;
    margin-left: 500px;
    width: 15em;
  }
  label {
    color: #044ae2;
    font-family: cursive;
    letter-spacing: 1px;
    font-size: 16px;
    float: left;
    margin-left: 5%;
  }
  .inputCreate {
    flex-grow: 1;
    padding: 5px;
    outline: none;
    border: 1px solid rgba(255, 238, 0, 0.726);
    border-radius: 5px;
    background: #f3d8d5;
    transition: background 0.25s, box-shadow 0.25s;
    width: 100%;
    max-width: 300px;
    display: inline-flex;
    font-family: cursive;
  }
  .inputCreate:focus {
    background: rgba(37, 219, 37, 0.562);
    box-shadow: 0 0 2px #0c5801;
  }
  
  .inputCreate::placeholder {
    color: tomato;
    opacity: 0.5;
  }
  .tipo{
    color: #044ae2;
    font-family: cursive;
    letter-spacing: 1px;
    font-size: 16px;
    float: left;
    margin-left: 5%;
}
.tipoSelect:focus {
    background: rgba(37, 219, 37, 0.562);
    box-shadow: 0 0 2px #0c5801;
  }
  .tipoOption:focus{
    background: rgba(37, 219, 37, 0.562);
  }

  select {
    flex-grow: 1;
    padding: 5px;
    outline: none;
    border: 1px rgba(255, 238, 0, 0.726);
    border-radius: 5px;
    background: #f3d8d5;
    transition: background 0.25s, box-shadow 0.25s;
    width: 100%;
    max-width: 300px;
    display: inline-flex;
    font-family: cursive;
    color: #0d0d0d;
  }
 .error{
    color: #f22613;
    font-family: cursive;
    font-size: 14px;
    text-align: left;
    position: fixed;
    display: contents;
 }
 .btnDelete{
   color:#044ae2;
 }
 button:hover{
   color:#f22613;
 }

 .divCreate{
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
 }

 @media screen and (max-width: 900px) {
  
  
  .h1 {
    
    width: 700px;
    font-size: 24px;
  }
  .Main {
    width: 700px;
  }
  .inputCreate{
    width: 9em;
  }
  .Left{
    padding: 2px;
    padding: 3px;
    margin-right: 5px;
    margin-right: 400px;
  }
  .Right {
    padding: 2px;
    padding: 3px;
    margin-right: 5px;
    margin-left: 400px;
  
  } 
  .divType{
    width: 700px;
  } 
}
@media screen and (max-width: 700px) {
  .h1 {
    
    width: 500px;
    font-size: 20px;
  }
  .Main {
    width: 500px;
  }
  .Left{
    padding: 2px;
    padding: 3px;
    margin-right: 5px;
    margin-right: 200px;
  }
  .Right {
    padding: 2px;
    margin-left: 15em;
    margin-right: 0.5em;
    width: 10em;
  
  } 
  .divType{
    width: 500px;
  } 

}

 @media screen and (max-width: 550px) {
  
  
  .h1 {
    width: 400px;
    font-size: 24px;
  }
  .Main {
    width: 400px;
  }
  .divType{
    width: 400px;
  } 
  .Left {
    padding: 2px;
  }
  .Right {
    padding: 2px;
    margin-left: 200px;
    margin-right: .5em;
  }  
  .error {
    font-size: 10px;
  }
 
  .inputCreate {
    padding: 0;
    margin: 0%;
    width: 5em;
  }
}