.searchBar {
    width: 100%;
    max-width: 300px;
    display: inline-flex;
    align-items: center
  }
  
  .input {
    flex-grow: 1;
    padding: 10px;
    outline: none;
    border: 1px solid tomato;
    border-radius:9999px;
    background: #f3d8d5;
    transition: background 0.25s, box-shadow 0.25s;
  }
  
  .input:focus {
    background: white;
    box-shadow: 0 0 2px #dfb2ad;
  }
  
  .input::placeholder {
    color: tomato;
  }
  
  .button {
    width: 40px;
    background: none;
    border: none;
    outline: none;
    display: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 9999px;
    user-select: none;
  }
  
  .button:active {
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.25);
  }
   .img{
    border-radius: 9999px;
    border: 1px solid tomato;
    width:3rem;  
    
  }
  